.login-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  caret-color: transparent;
}

.hover-zoom:hover {
  transform: scale(1.05);
}
