footer {
  background-color: rgba(255, 255, 255, 0.03);
  border-top: 1px solid rgba(255, 255, 255, 0.473);
  padding: 0;
  padding-top: 25px;
  color: white;
  caret-color: transparent;
}
.footer-icon {
  height: 25px;
}
